S3method(`[[`, Datasets)
S3method(`[[`, Experiments)
S3method(as.data.frame, Dataset)
S3method(as.list, Datasets)
S3method(as.list, Experiments)
S3method(names, Datasets)
S3method(names, Experiments)
export(workspace)
import(R6)
import(purrr)
import(webapi)
import(stringi)
importFrom(foreign, read.arff)
importFrom(foreign, write.arff)
importFrom(uuid, UUIDgenerate)